# Environment variables
.env
.env.local

# Jupyter Notebooks
.ipynb_checkpoints

# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.venv/
env/

# Mac
.DS_Store

# Data
data/input/*
!data/input/.gitkeep
data/intermediate/*
!data/intermediate/.gitkeep
data/output/*
!data/output/.gitkeep
data/for_annotation/*
!data/for_annotation/.gitkeep
data/tab-for-annotation/*
!data/tab-for-annotation/.gitkeep
!data/tab_for_annotation/.gitkeep
data/cells-for-annotation/*

# IDE
.idea/
.vscode/

# Virtual Environment
flowfigtabminer/

# Local Models
models/
