# Core AI & Computation
torch>=2.0.0
torchvision
torchaudio
transformers
onmt
paddlepaddle-gpu ; sys_platform == 'linux'
paddlepaddle ; sys_platform == 'darwin'
paddleocr>=2.6.0
ultralytics  # YOLOv11 Support

# Data Processing
pandas
numpy
opencv-python
pillow
scipy
pyyaml

# UI & Web
streamlit
requests

# Layout & PDF
pdf2image
albumentations
imutils
fitz  # PyMuPDF
